.app {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*左侧菜单*/
.leftNav {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 10px;
    background: #3C3A3C;
}

/*右侧内容*/
.rightMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



